global:
  scrape_interval: {{ prometheus_scrape_interval }}

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - "{{ hostvars[groups['balancers'][0]]['inventory_hostname'] }}:9093"

rule_files:
  - "alerts.yml"

scrape_configs:
  - job_name: node
    static_configs:
      - targets:
{% for host in groups['all'] %}
        - "{{ hostvars[host]['inventory_hostname'] }}:9100"
{% endfor %}

  - job_name: postgres
    static_configs:
      - targets:
{% if groups['master'] is defined and groups['replica'] is defined %}
{% for host in groups['master'] + groups['replica'] %}
        - "{{ hostvars[host]['inventory_hostname'] }}:9187"
{% endfor %}
{% endif %}

  - job_name: patroni
    static_configs:
      - targets:
{% if groups['master'] is defined and groups['replica'] is defined %}
{% for host in groups['master'] + groups['replica'] %}
        - "{{ hostvars[host]['inventory_hostname'] }}:8008"
{% endfor %}
{% endif %}

  - job_name: etcd
    static_configs:
      - targets:
{% if groups['etcd_cluster'] is defined %}
{% for host in groups['etcd_cluster'] %}
        - "{{ hostvars[host]['inventory_hostname'] }}:2379"
{% endfor %}
{% endif %}

  - job_name: alertmanager
    static_configs:
      - targets:
        - "{{ hostvars[groups['balancers'][0]]['inventory_hostname'] }}:9093"

  - job_name: blackbox_exporter
    static_configs:
      - targets:
        - "{{ hostvars[groups['balancers'][0]]['inventory_hostname'] }}:9115"

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - "https://176.109.82.213/healthz/live"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: "{{ hostvars[groups['balancers'][0]]['inventory_hostname'] }}:9115"
      - source_labels: [__meta_dns_name]
        target_label: __param_hostname
      - source_labels: [__meta_dns_name]
        target_label: vhost
